@use 'guide.sass'

// main container
.main-wrapper
	display: grid
	grid-template-columns: repeat(2, 1fr)
	max-width: 900px
	height: 450px
	font-family: guide.$primary-font
	background-color: guide.$dark-desaturated-blue
	border-radius: 10px

// company information section
.info
	@include guide.flexbox(column, center, start, 20px)
	padding: 50px

.info__title
	margin: 0
	font-size: guide.$lg-size
	color: guide.$white
	span
		color: guide.$soft-violet

.info__description
	margin: 0
	font-size: guide.$sm-size
	line-height: 1.8
	color: guide.$slightly-transparent-white

.info__statistics
	@include guide.flexbox(row, space-between, center)
	width: 100%
	margin-top: 50px

.company-statistics
	@include guide.flexbox(column, null, null, 10px)
	.quantity
		font-size: guide.$md-size
		font-weight: guide.$bold
		color: guide.$white

	.text
		margin: 0
		font-size: guide.$sm-size
		text-transform: uppercase
		color: guide.$slightly-transparent-white

// company hero section
.hero
	position: relative
	background-image: url(../assets/img/image-header-desktop.jpg)
	background-size: cover
	border-radius: 0 10px 10px 0
	&::after
		position: absolute
		content: ''
		inset: 0
		background-color: hsla(277, 71%, 29%, 0.4)
		border-radius: 0 10px 10px 0
