@import 'guide.scss';

// Main Container
.main-wrapper {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr;
	width: 100%;
	height: 700px;
}

// Company Information Section
.info {
	padding: 10px;
	order: 2;
}
.info__title {
	font-size: $lg-size-mobile;
	text-align: center;
}
.info__description {
	line-height: 1.6;
	text-align: center;
}
.info__statistics {
	@include flexbox(column, center, center, 10px);
	text-align: center;
}
.company-statistics {
	.quantity {
		margin: 0;
	}
}

// Company Hero Section
.hero {
	width: 100%;
	height: 100%;
	order: 1;
	background-image: url(../assets/img/image-header-mobile.jpg);
	background-size: cover;
	background-position: top;
	border-radius: 10px 10px 0 0;
	&::after {
		border-radius: 10px 10px 0 0;
	}
}

// Breakpoints
@media screen and (width: 540px) {
	.main-wrapper {
		width: 400px;
	}
	.info {
		padding: 20px 10px;
	}
}
@media screen and (min-height: 740px) and (max-height: 933px) {
	body {
		height: 100vh;
	}
}
