@import 'guide.scss';

// Main Container
.main-wrapper {
	width: 720px;
}

// Company Information Section
.info {
	padding: 20px 50px;
}
.info__title {
	font-size: $lg-size-mobile;
}

// Company Hero Section
.hero {
	background-position: top;
}
